<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

   <%= f.input  :admin,
                as: :boolean,
                hint: "As an admin, you can rent your equipments and keep a track of who requested to book your equipments" %>

    <%= f.input :first_name,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "first_name" }%>

    <%= f.input :last_name,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "last_name" }%>

    <%= f.input :address,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "address" }%>

    <%= f.label :district, "Select District" %>
    <%= f.select :district,
                options_for_select(["Port Louis", "Pamplemousses", "Rivière du Rempart", "Flacq", "Grand Port", "Savanne", "Black River", "Plaines Wilhems", "Moka"]),
                { required: true, autofocus: true },
                class: "form-control mb-4" %>

    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%>

    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
