<h1>My equipments for rent</h1>

 <%= link_to "Add new equipment", new_fitness_equipment_path, class:"text-decoration-none" %>

<ol>
  <% @mylistings.each do |equipment| %>
    <li>
      <p><%= equipment.name %></p>
      <p><%= equipment.description %></p>
      <p>Price / day : <%= equipment.price %></p>
      <p><%= Category.find(equipment.category_id).name %></p>
      <p><%= equipment.name %></p>
      <%= link_to "Edit", edit_fitness_equipment_path(current_user.id) %>
      <%= link_to "Delete" %>
    </li>
  <% end %>
</ol>
