
<div class="p-5 mx-auto" style="width: 50vw; text-align: center" >
  <h2>Edit given equipment</h2>
</div>

<div class="container d-flex justify-content-center align-items-center" style="width: 100vw; height: 50vh;">
  <div class="bg-dark p-4 rounded" style="width: 50vw; height: 50vh;">

  <%= simple_form_for [@equipment, @booking],  data: { controller: 'flatpickr' } do |f| %>

    <%= f.association :fitness_equipment, as: :select %>

    <%= f.input :date_from, as: :string, input_html: { data: { flatpickr_target: "startDate" } } %>
    <%= f.input :date_to, as: :string, input_html: { data: { flatpickr_target: "endDate" } } %>


    <%= f.submit 'Edit equipment', style: 'width: 100%; background-color:#9eeff5' %>
  <% end %>

</div>
