
  <h1>There is already a booking for this date</h1>

  <h5>Book</h5>
    <%#= simple_form_for [@equipment, @booking], data: { controller: 'flatpickr' } do |f| %>

    <%= simple_form_for [@equipment, @booking] do |f| %>


      <%= f.submit class:"btn btn-flat" %>

    <% end %>

<div class="container d-flex justify-content-center align-items-center" style="width: 100vw; height: 50vh;">
  <div class="bg-dark p-4 rounded" style="width: 50vw; height: 50vh;">

  <%= simple_form_for [@equipment, @booking],  data: { controller: 'flatpickr' } do |f| %>

    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
    <%= f.association :fitness_equipment, as: :select %>
    <%= f.input :date_from, as: :string, input_html: { data: { flatpickr_target: "startDate" } } %>
    <%= f.input :date_to, as: :string, input_html: { data: { flatpickr_target: "endDate" } } %>


    <%= f.submit 'Confirm', style: 'width: 100%; background-color:#9eeff5' %>
  <% end %>

</div>
