<% if user_signed_in? %>
    <h1>Welcome <%= current_user.first_name %>  <%= current_user.last_name %> </h1>

    <h2>Admin ? <%= current_user.admin? %> </h2>

    <p> <%= current_user.last_name %> |
        <%= current_user.address %>   |
        <%= current_user.email %>  |
        <%= current_user.district %>
    </p>
<% else %>
    <h1>Please sign up/in </h1>
<% end %>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(https://cdn2.photostockeditor.com/c/3112/fitness-assorted-gym-equipment-inside-the-gym-exercise-exercise-image.jpg); height: 540px;">
  <div class="container text-center">
    <h1><strong>Start your fitness journey faster with Active Zeus Rental!</strong></h1>
    <a class="btn btn-light" href="#">Start now</a>
  </div>
</div>
