<div class="header-container" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.2)), url(https://static.vecteezy.com/system/resources/previews/009/971/516/original/purple-yellow-gradient-background-abstract-texture-illustration-free-vector.jpg); height: 100px;">
  <h1 class="text-center"><strong>All Equipments</strong></h1>
</div>

<%# <h3 class="text-center mt-4">Categories: </h3> %>
<div class="categories-container justify-content-center">
  <% @categories.each do |category| %>
    <div class="category-item">
    <%= image_tag(category.image, style: "width: 40px;") %>
    <% if @category_selected === category.id %>
        <%= link_to category.name, fitness_equipments_path,
            class: (category.id === @category_selected) ? "btn btn-secondary" : "btn btn-outline-secondary"
        %>
    <% else %>
        <%= link_to category.name, fitness_equipments_path(category: category),
            class: (category.id === @category_selected) ? "btn btn-secondary" : "btn btn-outline-secondary"
        %>
    <% end %>
    </div>
  <% end %>
</div>

<div class="row justify-content-center">
  <div class="col-sm-5 mb-5">
    <%= form_with url: fitness_equipments_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Search by equipment or owner"
        %>
      <%= submit_tag "Search", name: "", class: "btn btn-secondary" %>
    <% end %>
  </div>
</div>


<div class="container d-flex justify-content-between">
  <div class="row gx-5">
    <% @equipments.each do |equipment| %>
    <div class="col-auto col-md-3">

      <div class="card" style="width: 18rem; height: 38rem;">
        <!-- <img src="https://media.istockphoto.com/photos/jump-rope-picture-id481079317?k=6&m=481079317&s=612x612&w=0&h=iYZLfBLS8ESHAwLPM1QdkmgMeu_rpiTGCvV0z2oyg_Y=" class="card-img-top" alt="Jumping Ropes"> -->
        <div class="card-body">
          <div class="card-img-top">
            <%= cl_image_tag equipment.photo.key, height: 205, width: 265, crop: :fill if equipment.photo.attached? %>
          </div>
          <div class="card-text">
            <h5 class="card-title"><strong><%= equipment.name %> </strong></h5>
            <p><strong> Description: </strong><%= equipment.description %>  </p>
            <p ><strong> Category: </strong><%= Category.find(equipment.category_id).name %>  </p>
            <p><!-- <i class="fa-solid fa-people-roof"> </i> --><strong> Availability:  </strong><%= equipment.available %> </p>
            <p><!-- <i class="fa-solid fa-euro-sign"></i> --><strong> Price per day: </strong>Rs <%= equipment.price %> </p>
            <p><!-- <i class="fa-solid fa-euro-sign"></i> --><strong> Owner: </strong><%= User.find(equipment.user_id).first_name %> </p>
            <!-- <p><i class="fa-solid fa-euro-sign"></i> address <%= User.find(equipment.user_id).address %> </p>-->
            <p><!-- <i class="fa-solid fa-euro-sign"></i> --><strong> District: </strong><%= User.find(equipment.user_id).district %> </p>
          </div>
          <div class="card-button text-center">
            <%= link_to "More details", fitness_equipment_path(equipment), class:"btn col-12 btn-warning" %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>

<footer class="text-center text-white" style="background-color: #F7C04A;">
    <!-- Grid container -->
    <div class="container pt-4">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-facebook-f"></i
        ></a>

        <!-- Twitter -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-twitter"></i
        ></a>


        <!-- Instagram -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-instagram"></i
        ></a>

        <!-- Linkedin -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-linkedin"></i
        ></a>

      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center text-dark p-3" style="background-color: rgb(151, 78, 195);">
      <strong>© 2023 Copyright:
      <a class="text-dark" href="#">Active Zeus Rental</a></strong>
    </div>
    <!-- Copyright -->
</footer>
