<div class="parent-container">
  <%# previous header container and header format %>

  <%# <div class="header-container" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.2)), url(https://static.vecteezy.com/system/resources/previews/009/971/516/original/purple-yellow-gradient-background-abstract-texture-illustration-free-vector.jpg); height: 100px;">
    <h1 class="text-center"><strong>All Equipments</strong></h1>
  </div> %>

  <%# header container and header format %>


  <div class="header-container" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.2)), url(https://media.istockphoto.com/id/1225398804/photo/sports-color-background.jpg?s=612x612&w=0&k=20&c=MQEmfl5AAomX81uhq_RrQoE0AspaHTtHQ6c430JcgLo=); height: 140px; width: 1400px; object-fit: cover; object-position: 0 100%;">
    <h1 class="text-center"><strong>All Equipments</strong></h1>
  </div>

  <%# Categories filter %>
  <div class="categories-container text-center">
    <h3 class="d-inline"><strong>Categories: </strong></h3>
    <%= link_to "all", fitness_equipments_path,
          class:  (@category_selected === 0) ? "btn btn-primary" : "btn btn-outline-primary"
    %>
    <%  @categories.each do |category| %>
      <%= link_to category.name, fitness_equipments_path(category: category),
          class:  (category.id === @category_selected) ? "btn btn-primary" : "btn btn-outline-primary"
      %>
    <% end %>
  </div>

  <%# cards %>

  <div class="container">
    <!-- Row Start -->
    <div class="row justify-content-center">
      <% @equipments.each do |equipment| %>
        <div class="col-4">
          <div class="card">
            <div class="card-img">
              <%= cl_image_tag equipment.photo.key, height: 230, width: 279, crop: :fill if equipment.photo.attached? %>
            </div>
            <div class="card-body-bottom">
              <h5 class="card-title"><strong><%= equipment.name %> </strong></h5>
              <h6><strong> Category: </strong><%= Category.find(equipment.category_id).name %></h6>
              <h6><strong> Price per day: </strong>Rs <%= equipment.price %> </h6>
              <h6><strong> Owner:  </strong><%= User.find(equipment.user_id).first_name %> </h6>
                  <div id="card-button"><strong><%= link_to "More details ", fitness_equipment_path(equipment), class:"text-decoration-none" %><span>&rarr;</span></strong>
                  </div>
            </div>
          </div>
        </div>
      <% end %>
    <!-- Row End -->
    </div>
  </div>
</div>
